@charset "UTF-8";
.body {
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box; /*Aquí seteo todo a 0*/
}

@font-face {
  font-family: emilio;
  src: url(../assets/fonts/emilio.ttf);
} /*Aquí llamo a la tipografía para luego sourcearla*/
@font-face {
  font-family: Ovo-Regular;
  src: url(../assets/fonts/Ovo-Regular.ttf);
} /*Aquí llamo a la tipografía para luego sourcearla*/
a {
  color: aquamarine;
  /*Aquí el código hace que que los links visitados queden de color original y no violeta*/
}
a a:visited {
  text-decoration: none;
}

.carousel-item {
  height: 80vh;
  font-family: Ovo-Regular;
} /*Aquí defino la altura del carrousel y la tipografía*/
.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} /*Aquí defino el estilo de las imágenes del carrousel*/
@media screen and (max-width: 480px) {
  .carousel-item {
    height: 60vh;
    font-family: Ovo-Regular;
  }
  .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .imagenAdaptive {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
} /*Aquí defino el estilo de las imágenes del carrousel y de la imagen del main cuando la pantalla tiene un máximo de 480px*/
.textoPrincipal {
  text-align: center;
  color: aquamarine;
  font-family: Ovo-Regular;
  font-size: 25px; /*Aquí creo una clase con tipografía y alineado para utilizar en página Nosotros*/
}

.textoSobreImagen {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  font-family: Ovo-Regular;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.mapContainer {
  text-align: center;
}

.mapContainer iframe {
  width: 80%;
  height: 500px;
}

.footer-icons {
  font-family: Ovo-Regular;
  text-align: center;
  overflow: hidden;
}
.footer-icons .footer {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: aquamarine;
}

/*Aquí anido las clases para el footer*/
/*Aquí creo el formulario y los estilos del mismo*/
.claseFormulario {
  font-family: Ovo-Regular;
  font-size: 20px;
  color: aquamarine;
}

/* Estilo del "input" */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo del botón */
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Ovo-Regular;
  font-size: 20px;
}

/*Clases para las subscripciones*/
.subscripcion-container {
  text-align: center;
  font-family: Ovo-Regular;
}
.subscripcion-container .subscripcion-box {
  width: 200px;
  height: 500px;
  background-color: aquamarine;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}
.subscripcion-container .subscripcion-box p {
  font-size: 60px;
}

.contenedor {
  position: relative;
  text-align: center;
  color: aquamarine;
}

@media screen and (max-width: 1560px) {
  .navbar-nav {
    flex-wrap: wrap;
  }
  .navbar-nav .nav-item {
    width: 50%;
    text-align: center;
  }
} /*Aquí hago el media query para el navbar*/
@media screen and (max-width: 767px) {
  .mapContainer iframe {
    height: 250px;
  }
} /*Aquí hago el media query para el mapa en página Tienda*//*# sourceMappingURL=estilos.css.map */