@font-face {
    font-family: emilio;
    src: url(../assets/fonts/emilio.ttf);
  } /*Aquí llamo a la tipografía para luego sourcearla*/
  @font-face {
    font-family: Ovo-Regular;
    src: url(../assets/fonts/Ovo-Regular.ttf);
  } /*Aquí llamo a la tipografía para luego sourcearla*/