
@media screen and (max-width: 1560px) {
    .navbar-nav {
      flex-wrap: wrap;
    }
  
    .navbar-nav .nav-item {
      width: 50%;
      text-align: center;
      
    }
  }/*Aquí hago el media query para el navbar*/
  
  
  @media screen and (max-width: 767px) {
    .mapContainer iframe {
      height: 250px; 
    }
  }/*Aquí hago el media query para el mapa en página Tienda*/